
body
{
    background-color: #dbb258 !important;
}

header
{
    padding: 20px 0;
}

footer
{
    padding: 20px 0;
    font-size:14px;
}

.lettuce
{
    height: 20px;
    background-color: #63af00;
}
.cheese
{
    height: 10px;
    background-color: #f2f700;
}

main
{
    background-color: #b37a39;
    width:100% !important;
    padding: 20px 0;
    
}

textarea
{
    resize: none !important;
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    height: 100px;
    background-color: #d49144;
    color: #000;
    border: 2px solid #6b4820;
}

button
{
    background-color: #f7ae5b;
    color: #000;
    border: 1px solid #6b4820;
}

.border-section { border: 2px solid black; }
.border-notop { border-top:none; }

.create-form
{
    padding: 10px;
}

.devour
{
    min-width: 250px;
    max-width: 450px;
    margin: 10px auto;
    padding: 10px;
}

.devour li { padding: 5px; }
.devour table { border: 2px solid #6b4820; }
.devour table td { padding:5px; }
.devour table tr:nth-child(even) { background: #ad7535; }
.devour table tr:nth-child(odd) { background: #c9883e; }

