

textarea
{
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    height: 100px;
}

.create-form
{
    padding: 1px;
}

.devour
{
    min-width: 250px;
    max-width: 450px;
    margin: 10px auto;
    padding: 10px;
}

.devour li
{
    padding: 5px;
}

.devour table td { padding:5px; }
.devour table tr:nth-child(even) { background: #EEE; }
.devour table tr:nth-child(odd) { background: #FFF; }

