
body
{
    background-color: #dbb258 !important;
}

header
{
    padding: 20px 0;
    background: 
        linear-gradient(120deg, #b37a39, transparent 20%),
        linear-gradient(160deg, #b37a39, transparent 20%),
        linear-gradient(60deg, transparent 80%, #fdd2a1),
        linear-gradient(20deg, transparent 80%, #fdd2a1);
}

footer
{
    padding: 20px 0;
    font-size:14px;
    background: 
        linear-gradient(60deg, #b37a39, transparent 35%),
        linear-gradient(20deg, #b37a39, transparent 35%),
        linear-gradient(110deg, transparent 85%, #fdd2a1);
    box-shadow: 0 50vh 0 50vh #000;
}

.lettuce
{
    height: 20px;
    background-color: #63af00;
    background:
        linear-gradient(90deg, #4d8601, #63af00 15%);
}
.cheese
{
    height: 10px;
    background-color: #f2f700;
    background:
        linear-gradient(90deg, #bec101, #f2f700 15%);
}

main
{
    background-color: #b37a39;
    width:100% !important;
    padding: 20px 0;
    background: 
        linear-gradient(90deg, #81592a, #b37a39 15%);
}

textarea
{
    resize: none !important;
    outline: none;
    width: 100%;
    max-width: 450px;
    min-width: 250px;
    height: 100px;
    background-color: #d49144;
    color: #3d2a15;
    
    border: 2px solid #6b4820;
}

textarea::placeholder {
    color: #745129;  
  }

button
{
    background-color: #f7ae5b;
    color: #000;
    border: 1px solid #6b4820;
}

.border-section { border-bottom: 2px solid black; }

.create-form
{
    padding: 10px;
}

.devour
{
    min-width: 250px;
    max-width: 450px;
    margin: 10px auto;
    padding: 10px;
}

.devour li { padding: 5px; }
.devour table { border: 2px solid #6b4820; }
.devour table td { padding:5px; }
.devour table tr:nth-child(even) { background: #ad7535; }
.devour table tr:nth-child(odd) { background: #c9883e; }

