<tr>
    <td class="text-left">
        {{burger_name}}
    </td>
    <td class="text-right">   
        {{#unless devoured}}<button class="change-devour" data-id="{{id}}" >Devour!</button>{{/unless}}
        {{#if devoured}}<button class="delete-burger" data-id="{{id}}" >Remove</button>{{/if}}
    </td>
</tr>